html{
    background-color: black;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.postcard{
    background-color: rgb(255, 255, 255);
    width:450px;
    position: relative center;
    margin:auto;
  
   
}
.encabezado{
    width: 450px;
    background-color: white;
    margin: none;
    padding-top:10px;
    padding-bottom: 10px;
    }

.imagenhtml{
    float:left;
    height: 40px;
   
}
.tituloysubtitulo{
    position:absolute;
}
.trespuntos{
    float:right;
    padding-right: 10px;

}
.html{
    font-weight: bold;

}

.imagenCentral{
    margin:none;
    width: 450px;
    padding: none;
}

.contenido{
    background-color: white;
    margin:none;
    padding: 10px;
}
.bold{
    font-weight: bold;
}
.bookmark{
    float:right;

}

.textoFinal{
    padding-bottom: 30px;
}
.contenido-1{
    padding-top: 10px;
}
.contenido-2{
    padding-bottom: 10px;
}