html{
    background-color: black;
}

.postcard{
    background-color: rgb(255, 255, 255);
    width:400px;
    position: relative center;
    margin:auto;
  
   
}
.encabezado{
    width: 400px;
    background-color: white;
    margin: none;
    }

.imagenhtml{
    float:left;
    height: 40px;
   
}
.fa-solid fa-ellipsis-vertical{
    float: right;
    height: 200px;
}
.imagenCentral{
    margin:none;
    width: 400px;
    padding: none;
}

.contenido{
    background-color: white;
    margin:none;
    padding: 10px;
}
.bold{
    font-weight: bold;
}
.bookmark{
    float:right;
    padding-right: 10px;
}
.textoFinal{
    padding-bottom: 30px;
}
.iconos{
    padding-top: 15px;
    padding-bottom: 15px;
}
span{
    margin-top: 10px;
    margin-bottom: 10px;
}